:root {
  --dark-yellow: #9A6D0C;
  --light-yellow: #EFC566;
  --yellow: #F7B53D;
  --gray: #00000029;
  --blue: #0468BF;
  --font-family: 'Open Sans';
  --border-shadow: 3px 3px 10px #00000024;
  --white: white;
  --button-color: #E4E4E4;
}